<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" 
          integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
  <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
  <title>Daftar Permintaan Pengiriman</title>
</head>

<body>
  <nav th:replace="~{fragments/navbar :: navbar(activePage='permintaan_pengiriman')}"></nav>
  <div class="container mt-5">
    <div class="row mb-5">
        <div class="col-12 text-center">
            <h3><b>Daftar Permintaan Pengiriman</b></h3>
            <a type="button" class="btn btn-primary m-2" href="/permintaan-pengiriman/tambah">+ Tambah Permintaan Pengiriman</a>
        </div>
    </div>

    <table class="table table-bordered">
        <thead class="table-dark">
            <tr class="text-center">
                <th>#</th>
                <th>Waktu Permintaan</th>
                <th>Nomor Pengiriman</th>
                <th>Nama Penerima</th>
                <th>Alamat Penerima</th>
                <th>Tanggal Pengiriman</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="permintaanPengiriman, iterationStatus : ${listPermintaanPengiriman}">
                <td th:text="${iterationStatus.count}"></td>
                <td th:text="${permintaanPengiriman.waktuPermintaan}"></td>
                <td th:text="${permintaanPengiriman.nomorPengiriman}"></td>
                <td th:text="${permintaanPengiriman.namaPenerima}"></td>
                <td th:text="${permintaanPengiriman.alamatPenerima}"></td>
                <td th:text="${permintaanPengiriman.tanggalPengiriman}"></td>
                <td class="text-center">
                    <a type="button" class="btn btn-md btn-secondary" th:href="@{/permintaan-pengiriman/{id}(id=${permintaanPengiriman.idPermintaanPengiriman})}">Detail</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>